* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  height: 35rem;
  width: 30rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: .5rem;
  border-radius: 20px;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 90%;
  background-color: rgb(222, 235, 222);
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.equation {
  align-self: flex-end;
  height: 50%;
  font-size: x-large;
  margin-right: 3rem;
  margin-top: .5rem;
}

.solution {
align-self: flex-end;
height: 50%;
font-size: xx-large;
margin-right: 1rem;
margin-top: .5rem;
}

button {
  height: 100%;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: x-large;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .75rem;
  height: 75%;
  width: 90%;
  margin-bottom: 1rem;
}

.number {

}

.symbol {
  background-color: rgba(27, 27, 250, 0.775);
  color: white;
}

.equal {
  background-color: orange;
}

.function {
  background-color: slategray;
  color: white;
}

button:nth-child(20) {
  grid-column: 5;
  grid-row: 4 / span 2;
}

button:nth-child(19) {
  grid-column: 4;
  grid-row: 4 / span 2;
}

.hover {

}

