* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  height: 45rem;
  width: 40rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: .5em;
  border-radius: 20px;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 90%;
  background-color: rgb(222, 235, 222);
  /* margin-bottom: .5em; */
  margin-top: 1em; 
  border-radius: 5px;
  contain:content;
  
}

.equation {
  align-self: flex-end;
  height: 50%;
  margin-right: .5em;
}

.solution {
align-self: flex-end;
height: 50%;
margin-right: .5em;
margin-left: 1em;
margin-bottom: .5em;
}

button {
  height: 100%;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: x-large;
  border-radius: 20px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .75em;
  height: 75%;
  width: 90%;
  margin-bottom: 1em;
  margin-top: 2em;
}

button:hover {
  opacity: 80%;
}

.number {
  
}

.symbol {
  background-color: rgba(27, 27, 250, 0.775);
  color: white;
}

.equal {
  background-color: orange;
  color: white;
}

.function {
  background-color: slategray;
  color: white;
}

.power {
  background-color: rgb(199, 2, 2);
}

button:nth-child(19) {
  grid-column: 4;
  grid-row: 4 / span 2;
}

button:nth-child(20) {
  grid-column: 5;
  grid-row: 4 / span 2;
}

button:nth-child(21) {
  grid-column: span 2;
}

.normal {
  font-size: 3rem;
}

.smaller {
  font-size: 2.25rem;
}

.smallest {
  font-size: 1.75rem
}

